/* top-portion background */
.hero-banner {
	background-image: url("../assets/banner-image/banner.jpg"); 
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}
.base-container {
  height: 600px;
}
.top-bar {
  padding: 20px;
}
.company-name {
  text-transform: uppercase;
  width: 154px;
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;
}
.top-nav {
  display:inline-block;
  width: 20%;
  height: 75px;
  margin: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  width: 493px;
  height: 17px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: right;
  color: #ffffff;
}
li {
  display: inline;
  width: 20%;
  height: 75px;
  margin: 10px;
}
.actualizing {
  padding-left: 55px;
  padding-bottom: 144px;
  height: 306px;
  font-family: Montserrat;
  font-size: 90px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: -0.1px;
  text-align: left;
  color: #ffffff;
}
.base-container {
  height: 612px;
}
.page-title32 {
  padding-top: : 150px;
  text-transform: uppercase;
  height: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 3px;
  text-align: center;
  color: #2d2d30;
}
.middle-content {
  height: 216px;
  font-family: LibreBaskerville;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #4a4a4a;
}
.services-container {
  height: 854px;
}
.services-container h6 {
  color: #ffffff;
}
.services-container h4 {
  color: #ffffff;
}
.services-container p {
 color: #ffffff;
}
.black-bg {
  background-color: #252839;
}
.page-title {
  padding-top: 150px;
  text-transform: uppercase;
  opacity: 0.5;
  height: 32px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 3px;
  text-align: center;
}
.subtitle {
  height: 66px;
  font-family: LibreBaskerville;
  font-size: 48px;
  line-height: 1.38;
  letter-spacing: -1px;
  text-align: center;
  color: #2d2d30;
}
.what-we-do-content {
  height: 108px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  color: #2d2d30;
}
.example-title {
  height: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}
.example-content {
  height: 90px;
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
}
.example {
  display: inline-block;
  width: 27%;
  height: 75px;
  margin: 10px;
}
.dmv-website {
  width: 100%;
  height: 418px;
}
.website-screenshot {
  width: 45%;
  height: 250px;
  float: left;
}
.website-content {
  width: 50%;
  height: 250px;
  background-color: pink;
  float: right;
}
.sample-website {
  width: 100%;
  height: 552px;
  padding-left: 55px;
  padding-right: 55px;
}
.what-they-say {
  height: 180px;
  font-family: LibreBaskerville;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #2d2d30;
}
.black-bg .page-title32 {
 color: #ffffff;
 padding-top: 150px;
}
.contact-us-container {
  height: 1000px;
  padding: 10px;
  color: #ffffff;
}
.contact-us-container .subtitle {
  color: #ffffff;
}
.get-in-touch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.contact-form {
  padding: 30px;
  width: 50%;
}
.contact-form div {
  padding: 10px 0;
}
.contact-form input {
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact-form textarea{
  height: 174px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
  border: none;
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 15px;
  padding-left: 20px;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 15px;
  padding-left: 20px;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 15px;
  padding-left: 20px;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
 color: white;
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 15px;
  padding-left: 20px;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}
input, select, textarea {
  color: pink;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  padding-left: 20px;
  padding-top: 15px;
}
.get-in-touch h4{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 3px;
  text-align: left;
}
.social {
  padding: 30px;
  width: 50%;
  border-width: 5px;
}
.social h5 {
  margin: 0;
  opacity: 0.6;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: 2px;
  text-align: left;
}
.social p {
  margin-top: 0;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}






