/* top-portion background */
.hero-banner {
	background-image: url("../assets/banner-image/banner.jpg"); 
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}
.base-container {
  height: 600px;
  border-width: 15Px;
  border-top-color: blue
}
.wrapper {
  border-color: blue
  border-with: 15px;
}
.top-bar {
  padding: 20px;
}
.company-name {
  text-transform:uppercase;
  width: 154px;
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff;
}
.top-nav {
display:inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  width: 493px;
  height: 17px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: right;
  color: #ffffff;
}
li {
  display: inline;
}
.actualizing {
  padding-left: 55px;
  padding-bottom: 144px;
  height: 306px;
  font-family: Montserrat;
  font-size: 90px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: -0.1px;
  text-align: left;
  color: #ffffff;
}
.base-container {
  height: 612px;
}
.about-us {
  height: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 3px;
  text-align: center;
  color: #2d2d30;
}
.middle-content {
  height: 216px;
  font-family: LibreBaskerville;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  color: #4a4a4a;
}
.services-container {
  height: 854px;
}
.black-bg {
  background-color: #252839;
}
.services {
  height: 32px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}
.what-we-do {
  height: 66px;
  font-family: LibreBaskerville;
  font-size: 48px;
  line-height: 1.38;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
}
.what-we-do-content {
  height: 108px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  color: #ffffff;
}
.example-title {
  height: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}
.example-content {
  height: 90px;
  opacity: 0.75;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
}
.example {
  display: inline-block;
  width: 29%;
  height: 75px;
  margin: 10px;
}

